{% extends 'layout.html' %}
{% block body %}
<h2> Add a word </h2>
<div class="form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br>
        {{ form.correctword.label  }} {{ form.correctword }}
        <br>
        {{ form.guess1.label  }} {{ form.guess1 }}
        <br>
        {{ form.guess2.label  }} {{ form.guess2 }}
        <br>
        {{ form.guess3.label  }} {{ form.guess3 }}
        <br>
        {{ form.guess4.label  }} {{ form.guess4 }}
        <br>
        {{ form.guess5.label  }} {{ form.guess5 }}
        <br>
        {{ form.guess6.label  }} {{ form.guess6 }}
        <br>
        {{ form.submit }}
        <br>
    </form>
</div>
{% endblock body %}